@use 'variables';
.popup {
    position: absolute;
    max-width: 85vw;
    min-width: 95vw;
    top: 55%;
    background-color: #749b64;
    border-radius: .5em;
    padding: 3em 0;

    .search {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }


    .game-header {
        padding-inline-start: 40px;
        max-width: 85vw;
        min-width: 95vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-weight: light;
        border-bottom: 2px solid black;
    
    }
    .friend, .game {
        grid-template-columns: repeat(5, 1fr);
    }

    .search-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;

        .friend, .game{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        
        }
        & > div:nth-child(odd) {
            background-color: #90c07c;
        }
        
    }


    .abort {
        background-color: #96271b;
    }
}




.games-section, .game, .friend {
    max-width: 85vw;
    min-width: 95vw;

    & > div:nth-child(even) {
        background-color: #90c07c;
    }


    .search {

        & > ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

    }

    .input-search {
        font-size: 1.2em;
        border-radius: .5em;
        padding: .5em;
        border: none;
    }

    h1 {
        text-align: center;
        padding: 1em;
    }

    .games-list {
        max-width: 85vw;
        min-width: 95vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        line-height: 3em;
        border-bottom: 2px solid black;

        .edit {
            position: relative;
            text-transform: uppercase;
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
            font-size: .8em;
        }


    }
    
    .friend, .game {
        grid-template-columns: repeat(5, 1fr);
    }

}
input:required {
    background-color: red;
}
input:valid {
    background-color: pink;
}
input:invalid {
    border-color: red;
}





.edit-game-form {
    background-color: white;
    border: 3px dotted red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    line-height: 1.5em;
    position: absolute;
    z-index: 1;

    & > div {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .edit {
        background-color: rgb(53, 113, 75);
    }
}

@media only screen and (max-width: 496px) {
    .games-section, .friend, .game {

        & > div {
            display: flex;
            max-height: 10em;
            min-height: 10em;
            position: relative;
            border-bottom: 2px solid black;


        }


        .game-header {
            padding-inline-start: 1em;
            font-size: 14px;
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: 20em;
            min-width: 0;
            max-height: 10em;
            min-height: 10em;
            justify-content: space-evenly;
            border: none;


        }

        .games-list{
            padding-inline-start: 1em;
            font-size: 14px;
            line-height: 1em;
            padding: 1em 0;
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: 20em;
            min-width: 0;
            max-height: 10em;
            min-height: 10em;
            padding: 0;
            justify-content: space-evenly;
            border: none;

            .edit {
                position: absolute;
                right: 1em;
                bottom: 0;
            }
        

        }
    }


}
