.game-header {
    padding-inline-start: 40px;
    max-width: 85vw;
    min-width: 95vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: .6em;
}
.games-section {
    max-width: 85vw;
    min-width: 95vw;

    .search-list {

        & > ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

    }

    .input-search {
        font-size: 1.2em;
        border-radius: .5em;
        padding: .5em;
        border: none;
    }

    h1 {
        text-align: center;
        padding: 1em;
    }

    .games-list {

        max-width: 85vw;
        min-width: 95vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        line-height: 3em;
        border-top: 2px solid black;

        .edit {
            position: relative;
            text-transform: uppercase;
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
            font-size: .8em;
        }

    }
}




.edit-game-form {
    background-color: white;
    border: 3px dotted red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em 0;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    line-height: 1.5em;

    & > div {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .delete {
        position: absolute;
        max-width: 5em;
        max-height: 1em;
        top: 0;
        background-color: red;
        margin-top: 0;
    }

    .edit {
        background-color: rgb(53, 113, 75);
    }
}

@media only screen and (max-width: 496px) {
    .games-section {


        .game-header {
            padding-inline-start: 1em;
            font-size: 14px;
        }

        .games-list {
            padding-inline-start: 1em;
            font-size: 14px;
            line-height: 1em;
            padding: 1em 0;
        }
    }



}
