.game-header {
    padding-inline-start: 40px;
    max-width: 85vw;
    min-width: 95vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: .6em;
}
.games-section {
    max-width: 85vw;
    min-width: 95vw;

    h1 {
        text-align: center;
        padding: 1em;
    }

    .games-list {
        max-width: 85vw;
        min-width: 95vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        line-height: 3em;
        border-top: 2px solid black;

        .edit {
            text-transform: uppercase;
            text-decoration: underline;
            cursor: pointer;
            font-weight: 600;
            font-size: .8em;
        }
    }
}

@media only screen and (max-width: 496px) {
    .games-section {


        .game-header {
            padding-inline-start: 1em;
            font-size: 14px;
        }

        .games-list {
            padding-inline-start: 1em;
            font-size: 14px;
            line-height: 1em;
            padding: 1em 0;
        }
    }



}
