header {
    width: 100vw;
    max-height: 7em;
    position: relative;


    .logo {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: 400;
        font-size: 3em;
        padding: .5em;
        color: white;
        opacity: 1;
    }

}