main {
    // background-color: #569c7a;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;




        .game-header {
            display: grid;
            grid-template-columns: repeat(5, 1fr);


        }


    }

}

    .welcome-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        color: white;

        .btn-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em;

        }

    }
    

.btn {
    @include buttons;
    font-size: .8em;
    padding: .5em 1em;

    &:hover {
        background-color: rgb(53, 113, 75);
        transform: scale(1.1);
    }
}
.logout {
    margin-top: 1em;
    background-color: black;
}

.add-game-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & > div {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
}


.multiple-players {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 496px) {
    main {

        .welcome-section { 
            color: white;

            .welcome-text {
                font-weight: 600;
                color: black;
            }
        }
    }
}