@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import 'variables';
@import 'header';
@import 'hero';
@import 'signedin';
@import 'games';


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


.App {
    position: relative;
    min-width: 99vw;
    max-width: 99vw;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;



    .button-section {
        padding: 2em;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 2em;

        h3 {
            font-weight: 300;
            font-size: 2em;
            color: black;
            
        }

        .btn {
            @include buttons;
        }
        .login {
            background-color: #37845F;
        }
        .signup {
            background-color: #111111;
        }
    }
    
    .overlay {
        max-width: 30em;
        min-width: 30em;
        min-height: 20em;
        max-height: 30em;
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        

        h1 {
            position: absolute;
            top: 0.5em;
            left: 0.5em;
        }

        & > div {
            display: flex;
            flex-direction: column;
        }

        .btn {
            @include buttons;
            font-size: 1.1em;
        }
        .login {
            background-color: #37845F;
        }
        .signup {
            background-color: #111111;
        }


        input {
            margin-top: 0.5em;
            font-size: 1em;
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

}
.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;


    
        .spinner {
            width: 4em;
            height: 4em;
            border: 6px solid;
            border-color: #1f1f1f transparent #1f1f1f transparent;
            border-radius: 50%;
            animation: spin-anim 1.2s linear infinite;
            z-index: 1;
        }
        
        @keyframes spin-anim {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}




@media only screen and (max-width: 417px) {
    .App {

        .hero {

            .hero.text {
                font-size: 1.3em;
            }
        }
        .overlay {
            min-width: 20em;
            max-width: 10em;
            top: 30%;
            left: 5%;

        }
    }
    .popup {
        top: 65%;
    }
}

@media only screen and (max-width: 566px) {
    .App {

        .hero {
            
            .hero-text {
                font-size: 1.6em;
            }
        }

        .button-section {
            flex-direction: column;
            gap: 0.5em;
        }
    }
}

